<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <div class="navbar navbar-grey">
                    <div class="navbar-left">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="navbar-collapse">
                        <ul>
                            <li><a class="navbar-brand navbar-brand__sub" href="#">Login</a></li>
                            <li><a class="navbar-brand navbar-brand__sub" href="#">Sign Up</a></li>
                            <li><a class="navbar-brand navbar-brand__sub" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>