<% include ../partials/header %>

<section class="section-new">
<div class="row">
    <div class="new">
        <div class="new__form">
            <h1 class="heading-secondary ">Create a New Campground</h1>
            <form action="/campgrounds" method="POST" class="form">
                <div class="form__group">
                    <input type="text" name="name" placeholder="name" class="form__input" id="name" required>
                    <label for="name" class="form__label">Image name</label>
                </div>
                <div class="form__group">
                    <input type="text" name="image" placeholder="image url" class="form__input" id="image" required>
                    <label for="image" class="form__label">Image url</label> 
                </div>
                <div class="form__group">
                        <input type="text" name="description" placeholder="description" class="form__input" id="description" required>
                        <label for="description" class="form__label">Description</label> 
                </div>
                <button class=" btn-primary btn-submit btn-animated">Submit!</button>
            </form>
        </div>
    </div>
</div>
</section>


<% include ../partials/footer %>
