$color-primary : #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark : #28b485;

$color-grey-dark : #777;
$color-grey-light : #cdd2d6;

$grid-width : 102.4rem;
$gutter-vertical : 2 rem;
$gutter-horizontal: 3rem;